:root {
  --color_letras: #050505;
  --color_botones: #4ee79e;
  --color_fondo: #e0e0e0;
  --color_boton_seleccionado:#426982;
  --color_seleccionado:#ffffff;
}

*{
  font-family: sans-serif;
  color:var(--color_letras);
}


.Principal{
  width: auto;
  margin: 20px;
  padding: 20px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

header{
  width: 700px;
  display: flex;
  display:block;
}

#logo{
  padding-left: 20px;
  margin-left: 20px;
  align-items: center;
}
.encabezado{
  width: 600px;

}
.locations{
  display: inline-flex;
  padding: 10px;
  border: var(--color_letras) 3px solid;
  align-items: center;
}

.locations button{
  margin: 10px;
}
.locations label{
  margin: 10px;
}
.locations input{
  height: 25px;
}
table {
   width: 600px;
   border: 600pxsolid #000;
   padding: 5px;
   margin: 5px;
   align-content: center;
}
tr, td {
   width: auto;
   height: 30px;
   text-align: center;
   border: 1px solid #000;
   border-collapse: collapse;
}

table #encabezados{
  font-weight: bold;
}

button{
  font-weight: bold;
  padding: 5px;
  font-size: 16px;
  border-radius: 10px;
  background: var(--color_botones);
}
button:hover{
  background:var(--color_boton_seleccionado);
  color: var(--color_seleccionado);
}

a{
  background: var(--color_botones);
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
  font-size: 16px;
  border-radius: 10px;
}
a:hover{
  background: var(--color_boton_seleccionado);
  color: var(--color_seleccionado);
}

.no-user a{
  background: none;
  text-decoration: underline;
}

.no-user a:hover{
  color: var(--color_boton_seleccionado);
}
h1{
  font-size: 22px;
  }

 h2{
   font-size: 14px;
 }
 h3{
   font-size: 12px;
 }
/* ESTILOS AL LOGIN*/
.login{
  width:  auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.login label{
  font-weight: bold;
  align-self: flex-start;
}

.login input{
  width: 200px;
  margin-bottom: 5px;
  font-size: 14px;
}
/* ESTILOS REGISTRO*/

.registro {
  width:  auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.registro label{
  font-weight: bold;
  align-self: flex-start;
}

.registro input{
  width: 250px;
  margin-bottom: 5px;
  font-size: 14px;
}
/* ESTILOS Dashboard*/

nav{
  width: 600px;
  display: flex;
  align-items:center;

}

#nav1{
  border-radius: 20px 0px 0px 20px;
  -moz-border-radius: 20px 0px 0px 20px;
  -webkit-border-radius: 20px 0px 0px 20px;
  border:#575e62 1px solid;

}
#nav2{
  border-radius: 0;
  border:#575e62 1px solid;
}
#nav3{
  border-radius: 0px 20px 20px 0px;
  -moz-border-radius: 0px 20px 20px 0px;
  -webkit-border-radius: 0px 20px 20px 0px;
  border:#575e62 1px solid;
}

#user-img{
  border: #575e62 1px solid;
}

.logueado{
  width: 700px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.barra{
    font-weight: bold;
    padding: 5px;
    font-size: 16px;
    border-radius: 10px
}
.barra a{
  background: var(--color_botones);
  display: flex;
  display: block;
}

.info{
  width: 620px;
  border: #575e62 1px solid;

  display: flex;
  flex-direction: column;
}

.add{
  width: 600px;
  height: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.add a{
  width: 27px;
  background: #575e62;
  align-content: center;
  margin-top: 3px;
  margin-bottom:  3px;
}
.add a:hover{
  background: #575e62;
}

#agregar{
  width: 25px;
}
.tableDashboard a {
  background: var(--color_botones);
  justify-content: center;
  align-items: stretch;
}
/* Settings*/
.cuerpoSetteings{
  width: 700px;
  display:flex;
  flex-direction: column;

}
.cuerpoSetteings input{
  width: 200px;
}
.botones{
  padding-right: 50px;
  padding-left: 50px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.botones a{
  background: none;
  text-decoration: underline;
}

.botones a:hover{
  color: var(--color_boton_seleccionado);
}
.lugares{
  width: 700px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
}
.horas{
  flex-direction: column;
  display: flex;
}
.horas input{
  width: 250px;
}
.viaje{
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
}
.checkbox{
  padding-left: 100px;
}
.button{
  width: 700px;
  display: flex;
  align-content: flex-start;

}
.button ul{
   list-style-type: none;
   text-align: center;
}
.button  li{
   display: inline;
   text-align: center;
   margin: 0 10px 0 0;
}

.titulo{
  width: 600px;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
}
